@import "~include-media/dist/include-media";
@import "~open-color/open-color";

// $ 을 붙여서 변수 사용
$red: #fa5252;

// mixin: 재사용 되는 스타일을 함수처럼 사용 가능
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}